
body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color:#81F781;
}

.quem-somos{
    background-color: #FA58D0;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #5858FA;
    color: white;
}

.serviços{
    background-color: #F3F781;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}